/*
    color
    font-family
    font-size
    border
    padding - space btwn text and border
    margin
*/

/*
    changing link colors for unvisited, visited, mouse hovering over link, and active 

    <style>
    a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
    }

    a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
    }

    a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
    }

    a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
    }
    </style>
*/

/*
    link styled as a button *NOT JAVASCRIPT*
    only creates border and fills

    <style>
    a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    }

    a:hover, a:active {
    background-color: red;
    }
    </style>
*/


/*
    change image map to transparent border;
    img.map, map area{
        outline:none;
    }
*/